In [1]:
### Chapter 1
x <- 12

In [4]:
# create vector of integers from 0 to 9
some_numbers <- c(0,1,2,3,4,5,6,7,8,9)
# alternatively 
some_numbers <- c(0:9)
some_numbers

 [1] 0 1 2 3 4 5 6 7 8 9

In [5]:
# R functions
mean(some_numbers)

[1] 4.5

In [7]:
# R packages
library(tidyverse)
library(ggplot2)
library(dplyr)
library(stats)

In [8]:
### Chapter 2
## loading data
paygap <- read.csv('./data/gender-paygap-2019.csv', header = TRUE)
## unable to access dataset

Warning message in file(file, "rt"):
“cannot open file './data/gender-paygap-2019.csv': No such file or directory”

ERROR: ignored

In [9]:
## viewing data
head(paygap, n = 5)
colnames(paygap)
dim(paygap)

ERROR: ignored

In [ ]:
## data types in r
class(paygap)
class(paygap$DiffMeanHourlyPercent)

In [10]:
### Chapter 3
## indexing

# extract element in 1st row and 3th column
cardiacdata[1,3]

# extract rows 5-7 from columns 1-3
cardiacdata[5:7,1:3]

ERROR: ignored

In [ ]:
## Extracting

# extract column 'bodytemp' and assign to new object 'temperatures'
temperatures <- cardiacdata$bodytemp

In [ ]:
## Selecting Columns

# select columns 'gender' and 'heartrate' and assign to new object 'heartrates'
heartrates <- select(cardiacdata, gender, heartrate)

In [ ]:
## Renaming Columns

## append variable names with their respective units
# rename 'bodytemp' to 'bodytemp_degF'
cardiacdata <- rename(cardiacdata, bodytemp_degF = bodytemp)

# rename 'heartrate' to 'heartrate_bpm'
cardiacdata <- rename(cardiacdata, heartrate_bpm = heartrate)

In [ ]:
## Adding/changing Columns

# add new column with body temperature in degrees celsius
cardiacdata <- mutate(cardiacdata, bodytemp_degC = (bodytemp_degF - 32)*(5/9))

# change values in gender column to read "Female" and "Male" instead of 1 and 2
cardiacdata <- mutate(cardiacdata, gender = ifelse(gender == 1, 'Female', 
                                            ifelse(gender == 2, 'Male', NA)))

head(cardiacdata)

In [ ]:
## Filtering Data

# filter for data from female subjects only
cardiacdata_female <- filter(cardiacdata, gender == 'Female')

In [ ]:
## Piping
f(x)
g(x)
h(x)

# cleaner
x %>% f() %>% g() %>% h()

cardiacdata <- cardiacdata %>%
  filter(gender == 'Female') %>%
  select(-gender) %>%
  mutate(bodytemp_Kelvin = bodytemp_degC + 273)

In [ ]:
## Aggregating Data

cardiacdata_byGender <- cardiacdata %>%
  group_by(gender) %>%                                  # group by 'gender'
  summarize(avg_bodytemp_degF = mean(bodytemp_degF),    # aggregate using means
            avg_bodytemp_degC = mean(bodytemp_degC), 
            avg_heartrate_bpm = mean(heartrate_bpm))

In [14]:
## Missing Data
some_numbers <- c(4,5,6,7,NA,8)

mean(some_numbers)

mean(some_numbers, na.rm = TRUE)

[1] NA

[1] 6

In [ ]:
## Visualizing Data


# Histograms
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20)

ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20, aes(y = ..density..))

# Cosmetics
ggplot(data = cardiacdata, mapping = aes(x = bodytemp_degC)) + 
  geom_histogram(bins = 20, aes(y = ..density..), fill = 'lightblue') +
  xlab('body temperature (celsius)') +
  ggtitle('distribution of body temperatures') +
  theme_light()

In [ ]:
# Scatterplots
ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC)) + 
  geom_point() +
  theme_light()

# Differentiate between f & m using diferent colors
ggplot(data = cardiacdata, mapping = aes(x = heartrate_bpm, y = bodytemp_degC, color = gender)) + 
  geom_point() +
  theme_light()

In [ ]:
# Box and Whisker Plots

ggplot(data = cardiacdata, mapping = aes(x = gender, y = bodytemp_degC)) +
  geom_boxplot() +
  xlab('gender') +
  ylab('body temperature (celsius)') +
  theme_light()